.row {
  composes: smallSize from '../../../styles/typography.css';
  line-height: 16px;
  max-width: 160px;
  min-width: 120px;
  font-weight: 500;
  color: var(--stat--default);
  text-align: left;
  margin-bottom: 6px;
}

.row:last-child {
  margin-bottom: 0;
}

.time {
  composes: row;
  margin-bottom: 12px;
  text-align: center;
}

.title {
  composes: row;
}

.description {
  composes: row;
  display: flex;
  justify-content: space-between;
}

.label {
  font-weight: 700;
}

.value {
  font-weight: 700;
}

.notes {
  composes: row;
}

.note {
  composes: row;
}
