{
  "env": {
    "jest": true,
    "node": true
  },
  "extends": [
    "plugin:testing-library/react",
    "plugin:jest-dom/recommended"
  ],
  "globals": {
    "assert": false,
    "expect": false,
    "sinon": false,
    "before": false,
    "after": false,
    "context": false,
    "document": false,
  },
  "rules": {
    "comma-dangle": ["error", "only-multiline"],
    "no-multiple-empty-lines": 0,
    "no-mixed-operators": 0,
    "no-redeclare": 0,
    "function-call-argument-newline": 0,
    "max-len": 0,
    "max-classes-per-file": 0,
    "no-unused-vars": 0,
    "no-import-assign": 0,
    "function-paren-newline": 0,
    "import/first": 0,
    "import/no-useless-path-segments": 0,
    "indent": 0,
    "lodash/prefer-lodash-method": ["warn", {
      "ignoreMethods": ["find", "split", "trim", "replace"]
    }],
    "no-prototype-builtins": 0,
    "no-unused-expressions": 0,
    "no-useless-escape": 0,
    "object-property-newline": 0,
    "operator-assignment": 0,
    "react/jsx-curly-brace-presence": 0,
    "react/jsx-props-no-spreading": 0,
    "react/function-component-definition": 0,
    "space-unary-ops": 0,
    "testing-library/prefer-presence-queries": "warn",
    "testing-library/no-node-access": "warn",
    "testing-library/render-result-naming-convention": "warn",
    "testing-library/no-manual-cleanup": "warn",
    "testing-library/no-container": "warn",
    "testing-library/no-render-in-lifecycle": "warn",
    "testing-library/no-wait-for-multiple-assertions": "warn",
    "testing-library/prefer-screen-queries": "warn",
    "testing-library/no-unnecessary-act": "warn",
    "jest-dom/prefer-in-document": "warn",
    "jest-dom/prefer-enabled-disabled": "warn",
    "jest-dom/prefer-empty": "warn",
    "global-require": "warn",
    "no-shadow": "warn",
  }
}
