.DS_Store
coverage/
dist/
local/
node_modules/
web/
*.log
package-lock.json

# yarn (ref https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored)
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
