site_name: Tidepool Viz Documentation
site_description: Documentation for Tidepool Viz
docs_dir: docs

theme:
  name: material
  features:
    - navigation.sections
    - navigation.expand
    - navigation.top
    - search.highlight
    - content.code.copy
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

markdown_extensions:
  # Mermaid support
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  # LaTeX/Math support
  - pymdownx.arithmatex:
      generic: true
  # Other useful extensions
  - toc:
      permalink: true
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.details
  - attr_list
  - md_in_html

extra_javascript:
  # MathJax for LaTeX rendering
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js

nav:
  - Home: StartHere.md
  - Getting Started: GettingStarted.md
  - Architecture: Architecture.md
  - Components: Components.md
  - Code Style: CodeStyle.md
  - Storybook: Storybook.md
  - Views:
    - Trends: views/Trends.md
  - Reference:
    - Common Props: misc/CommonProps.md
    - Time Rendering: misc/TimeRenderingModes.md
  - Dependencies:
    - Overview: deps/README.md
    - D3: deps/D3.md
    - Moment: deps/Moment.md
    - React: deps/React.md
    - React Motion: deps/ReactMotion.md
