.StatLegend {
  composes: smallSize from '../../../styles/typography.css';
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.StatLegendItemWrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0 1em 0 0;
  gap: .2em;
}

.StatLegendItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.StatLegendTitle {
  letter-spacing: -.01em;
  white-space: nowrap;
  line-height: 1.15em;
}

.LegendPattern {
  height: 2px;
  width: 100%;
}

.tooltipIcon {
  position: relative;
  top: -0.15em;
}

.tooltipIcon > img {
  width: 0.9em;
}

.LegendTooltipWrapper {
  z-index: 1;
  position: absolute;
}
