.container {
  width: 260px;
}

.row {
  composes: smallSize from '../../../styles/typography.css';
  line-height: 16px;
  color: var(--stat--default);
  margin-bottom: 8px;
  font-weight: medium;
}

.title {
  composes: row;
  font-weight: bold;
}

.subtitle {
  composes: row;
}

.note {
  composes: row;
  font-style: italic;
}

.items {
  padding-left: 24px;
  margin: 0 0 6px;
}

.item {
  composes: row;
  margin-bottom: 2px;
}
